body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  .v-application {
    background: $neutralcolor-gray-soft;
    color: $neutralcolor-dark-black;
  }

  .v-container {
    width: 100%;
    max-width: 1280px;
  }

  [class*="v-col-"]{
    padding: 6px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
