$primary-color: #42b983;
$secondary-color: #35495e;

$primary-color-hover: #369768;

$neutralcolor-dark-black: #2C2C2C;
$neutralcolor-gray-soft: #F1F4F5;
$neutralcolor-gray-softest: #FFFFFF;

$font-family: Avenir, Helvetica, Arial, sans-serif;
